@page "/inventories"

<PageTitle>Inventories</PageTitle>

<h1>Inventory List</h1>

<br/>

<InventoryListComponent />

<br/>

<a href="/add-inventory" class="btn btn-primary">Add Inventory</a>

@code {

}
