@page "/produce-product"
@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@inject IViewProductsByNameUseCase viewProductsByNameUseCase
@inject IViewProductByIdUseCase viewProductByIdUse
@inject IProduceProductUseCase produceProductUseCase

<h3>Produce Product</h3>

<br/>

<EditForm id="produce-form" Model="produceViewModel" OnValidSubmit="Produce">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="po">Production #</label>
        <InputText id="po" @bind-Value="produceViewModel.ProductionNumber" class="form-control" />
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product to produce" SearchFunction="SearchProduct" OnItemSelected="HandleItemSelected" />
            </div>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" @bind-Value="produceViewModel.QuantityToProduce" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Produce</button>
</EditForm>

@code {
    private ProduceViewModel produceViewModel = new ProduceViewModel();
    private Product? selectedProduct = null;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "produce-form");
        }
    }

    private List<ItemViewModel>? SearchProduct(string name)
    {
        var list = viewProductsByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null) return null;

        return list.Select(x => new ItemViewModel { Id = x.Id, Name = x.Name })?.ToList();
    }

    private async Task HandleItemSelected(ItemViewModel item)
    {
        selectedProduct = await viewProductByIdUse.ExecuteAsync(item.Id) ?? new Product();

        this.produceViewModel.ProductId = item.Id;
        this.produceViewModel.Product = selectedProduct;
    }

    private async Task Produce()
    {
        if (selectedProduct != null)
        {
            await produceProductUseCase.ExecuteAsync(
                this.produceViewModel.ProductionNumber,
                selectedProduct,
                this.produceViewModel.QuantityToProduce,
                "Frank"
            );
            this.produceViewModel = new ProduceViewModel();
            this.selectedProduct = null;
        }
    }
}
