@page "/produce-product"

@attribute [Authorize(Policy = "Productions")]

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@inject AuthenticationStateProvider authenticationStateProvider
@inject IViewProductsByNameUseCase viewProductsByNameUseCase
@inject IViewProductByIdUseCase viewProductByIdUseCase
@inject IProduceProductUseCase produceProductUseCase

<h3>Produce Product</h3>

<br/>

<EditForm id="produce-form" Model="produceViewModel" OnValidSubmit="Produce">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="po">Production #</label>
        <InputText id="po" @bind-Value="produceViewModel.ProductionNumber" class="form-control" />
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product to produce" SearchFunction="SearchProduct" OnItemSelected="HandleItemSelected" />
            </div>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" @bind-Value="produceViewModel.QuantityToProduce" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Produce</button>
</EditForm>

@code {
    private ProduceViewModel produceViewModel = new ProduceViewModel();
    private Product? selectedProduct = null;

    private AuthenticationState? authenticationState;

    protected async override Task OnInitializedAsync()
    {
        authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "produce-form");
        }
    }

    private async Task<List<ItemViewModel>> SearchProduct(string name)
    {
        var list = await viewProductsByNameUseCase.ExecuteAsync(name);

        if (list is null) 
            return new List<ItemViewModel>();

        return list.Select(x => new ItemViewModel { 
            Id = x.Id, 
            Name = x.Name 
        }).ToList();
    }

    private async Task HandleItemSelected(ItemViewModel item)
    {
        selectedProduct = await viewProductByIdUseCase.ExecuteAsync(item.Id) ?? new Product();

        this.produceViewModel.ProductId = item.Id;
        this.produceViewModel.Product = selectedProduct;
    }

    private async Task Produce()
    {
        string userName = string.Empty;
        if (authenticationState?.User?.Identity?.IsAuthenticated ?? false)
        {
            userName = authenticationState.User.Identity.Name ?? string.Empty;

            if (selectedProduct != null)
            {
                await produceProductUseCase.ExecuteAsync(
                    this.produceViewModel.ProductionNumber,
                    selectedProduct,
                    this.produceViewModel.QuantityToProduce,
                    userName
                );
                this.produceViewModel = new ProduceViewModel();
                this.selectedProduct = null;
            }
        }
    }
}
