@page "/purchase-inventory"

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@inject IViewInventoriesByNameUseCase viewInventoriesByNameUseCase
@inject IViewInventoryByIdUseCase viewInventoryByIdUseCase
@inject IPurchaseInventoryUseCase purchaseInventoryUseCase

<h3>Purchase Inventory</h3>

<br />

<EditForm id="purchase-form" Model="purchaseViewModel" OnValidSubmit="Purchase">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="po">Purchase Order #</label>
        <InputText id="po" @bind-Value="purchaseViewModel.PONomber" class="form-control" />
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Inventory to purchase" SearchFunction="SearchInventory" OnItemSelected="HandleItemSelected" />
                
                @if (purchaseViewModel.InventoryPrice > 0)
                {
                    <span>Price: @purchaseViewModel.InventoryPrice.ToString("c")</span>
                }
            </div>
        </div>
    </div>

    <br/>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" @bind-Value="purchaseViewModel.QuantityToPurchse" class="form-control" />
    </div>

    <br/>

    <button type="submit" class="btn btn-primary">Purchase</button>
</EditForm>

@code {
    private PurchaseViewModel purchaseViewModel = new PurchaseViewModel();

    private Inventory? selectedInventory = null;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("preventFormSubmission", "purchase-form");
        }
    }

    private async Task<List<ItemViewModel>> SearchInventory(string name)
    {
        var list = await viewInventoriesByNameUseCase.ExecuteAsync(name);

        if (list is null) 
            return new List<ItemViewModel>();

        return list.Select(x => new ItemViewModel { 
            Id = x.Id, 
            Name = x.Name 
        }).ToList();
    }

    private async Task HandleItemSelected(ItemViewModel item)
    {
        selectedInventory = await viewInventoryByIdUseCase.ExecuteAsync(item.Id) ?? new Inventory();

        this.purchaseViewModel.InventoryId = item.Id;
        this.purchaseViewModel.InventoryPrice = selectedInventory.Price;
    }

    private async Task Purchase()
    {
        if (selectedInventory != null)
        {
            await purchaseInventoryUseCase.ExecuteAsync(
                this.purchaseViewModel.PONomber,
                selectedInventory,
                this.purchaseViewModel.QuantityToPurchse,
                "Frank"
            );
            this.purchaseViewModel = new PurchaseViewModel();
            this.selectedInventory = null;
        }
    }
}
